# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Practice some languages
- Using data visualisation in R

## Some of the popular languages that Data Scientists use are:

**ordered list**
1.R
2.Python
3.SQL

## Some of the commonly used libraries used by Data Scientists include:
**ordered list**
- dplyr
- caret
- ggplot

|Data Science Tools|
|------------------|
|  Git             |
|  Anaconda        |
|  VSCode          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Susana Lopez Clemente